<p id="notice"><%= notice %></p>
<h1>Manage your Wallet</h1>
<h3>UID: <%= @wallet.uid %></h3>
<h3>Balance: <%= number_to_currency @wallet.balance %></h3>


<br/>
<%= link_to 'Back', wallets_path, class: "btn btn-default" %>
